.newsletter-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative; /* Para posicionar elementos absolutos dentro */
  margin-bottom: 5em;
}

.newsletter-content img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.newsletter-content h3{
  position: absolute;
  font-size: 2em;
  text-align: center;
  top: 80%;
  left: 50%; /* Centrado horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste preciso al centro */
  z-index: 1; /* Asegura que el h3 esté frente a la imagen */
}
.newsletter-content h3 a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 300;
}