.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 1px;
  margin-top: 2em;
}
.logout {
  position: absolute;
  top: 20px;
  right: 5px;
  display: flex;
  justify-content: center;
  width: 30%;
  text-transform: uppercase;
  margin-top: 2em;
  cursor: pointer;
}
.languages p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.header-content i:hover {
  cursor: pointer;
}
.header-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-menu i {
  font-size: 1.5em;
}
.header-content img {
  width: 50%;
}
.header-content img:hover {
  cursor: pointer;
}
.header-links {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100vh; /* Ajusta según el espacio que quieras que ocupe */
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  padding-top: 15em; /* Ajusta el espacio desde la parte superior */
  overflow-y: scroll; /* Permite que el contenido sea desplazable verticalmente */
  -webkit-overflow-scrolling: touch; /* Habilita un desplazamiento suave en dispositivos móviles */
  /* Opciones para ocultar la barra de desplazamiento */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Ocultar la barra de desplazamiento en Webkit (Chrome, Safari) */
.header-links::-webkit-scrollbar {
  display: none;
}

.header-links a {
  text-decoration: none;
  color: white;
  margin: 1.5em 2em;
  font-size: 1.5em;
}
.header-links a:hover {
  color: #f39c12;
}
.header-links i {
  color: white;
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 2em;
}
.marcas-list {
  width: 100%;
  height: auto;
  display: grid; /* Cambiado a grid para control de las columnas */
  grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
  gap: 0em; /* Espacio entre las imágenes */
  justify-items: center; /* Centra las imágenes dentro de cada columna */
  padding: 0 1em; /* Añadir algo de espacio alrededor */
}

.marcas-list a {
  display: block;
  text-align: center;
}

.marcas-list img {
  width: 120%; /* La imagen ocupa el 100% del ancho de la celda */
  height: 100px; /* Mantiene la proporción de la imagen */
  object-fit: cover; /* Asegura que la imagen cubra el espacio */
}

.marcas-list img:hover {
  cursor: pointer;
}
.invisible {
  opacity: 0;
  display: none;
}
.visible {
  opacity: 0.8;
}
