/* Mobile-first styles */
.product-page-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.products-page-content {
  width: 100%;
  max-width: 1200px;
  padding: 1rem; /* Reduce padding para dispositivos móviles */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.products-page-content h3 {
  text-transform: uppercase;
  font-size: 1.5rem; /* Fuente más pequeña para móviles */
  font-weight: 400;
  text-align: center;
  margin-bottom: 1.75rem;
  color: #333;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(150px, 1fr)
  ); /* Ajusta las columnas en móviles */
  gap: 15px;
  width: 100%;
  justify-items: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100%;
  max-width: 300px; /* Reducir tamaño máximo en móviles */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  padding-bottom: 0.5em;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 300px; /* Tamaño fijo más pequeño */
  object-fit: cover;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.product-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0;
}

.product-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 10px;
  margin-top: 0.5rem;
}
span.new-tag,
span.sale-tag {
  color: white;
  padding: 0.5em;
  width: 100%; /* Más ancho en móviles */
  border-radius: 0.5rem;
  opacity: 1;
  margin: 0.5em 0;
  font-weight: 300;
}

span.new-tag {
  background-color: #ff7f00;
}

span.sale-tag {
  background-color: #ff0000;
}

span.no-new-tag {
  background-color: transparent;
  color: transparent;
  opacity: 0;
  padding: 0;
  width: auto;
}

.product-title {
  font-size: 1rem; /* Fuente más pequeña en móviles */
  font-weight: bold;
  margin: 10px 0;
  text-transform: capitalize;
  color: #333;
  text-transform: uppercase;
  width: 80%;
}

.product-price {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  margin: 0.5rem 0;
}

.product-details {
  font-size: 0.8rem;
  color: #555;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0;
}
.product-details select {
  padding: 0.5em 1em;
  font-size: 1.1em;
  background-color: white;
  color: #333;
  font-weight: 300;
  text-align: center;
  margin-top: 0.5em;
}
.product-details option {
  text-align: center;
}

.product-details p {
  margin-top: 1.5rem;
  text-transform: uppercase;
}

.product-buy button {
  padding: 1em 2em;
  margin: 1em 0;
  background-color: #333;
  color: white;
  text-transform: uppercase;
  border-radius: 0.5rem;
}

.product-buy button:hover {
  cursor: pointer;
}

.pages-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 3em 0; /* Menor margen para móviles */
  max-width: 90%;
  width: 100%;
}

.pagination button {
  background-color: transparent;
  margin: 5px 0;
  padding: 8px 10px; /* Reduce tamaño del botón */
  cursor: pointer;
  font-size: 12px;
  max-width: 70px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.load-more-btn {
  display: block;
  margin: 15px auto;
  padding: 8px 16px; /* Reduce padding en móviles */
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.load-more-btn:hover {
  background-color: #45a049;
}
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Más compacto en móviles */
  padding: 1px 0;
}

.pagination-button {
  background: none;
  border: none;
  font-size: 16px; /* Tamaño de texto más pequeño para móviles */
  color: gray;
  margin: 0 3px; /* Menor espacio entre botones */
  cursor: pointer;
  border-radius: 2.5rem; /* Círculo perfecto */
  transition: all 0.3s ease; /* Animación para cambios de estado */
}

.pagination-button.active {
  color: #ff7f00;
}

.pagination-button:hover {
  transform: scale(1.2); /* Animación al pasar el mouse */
}
/* Tablet (min-width: 768px) */
@media (min-width: 768px) {
  .products-page-content {
    padding: 2rem;
  }

  .products-page-content h3 {
    font-size: 1.8rem;
    margin-bottom: 2em;
  }

  .product-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }

  .product-image {
    height: 250px;
  }
  .pagination-container {
    margin: 15px 0; /* Margen ligeramente mayor */
  }
  .pagination-button {
    font-size: 18px; /* Aumenta el tamaño del texto */
    margin: 0 10px;
  }
}

/* Desktop (min-width: 1024px) */
@media (min-width: 1024px) {
  .products-page-content h3 {
    font-size: 2rem;
  }

  .product-list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .product-image {
    height: 300px;
  }

  .pagination-container {
    margin: 20px 0;
  }
  .pagination-button{
    font-size: 20px;
    margin: 0 10px;
    padding: 8px 10px;
  }
}
