/* Estilos para la página NotFound */
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f8f9fa;
  color: #333;
}

.not-found-title {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

.not-found-message {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.not-found-link {
  font-size: 1.2rem;
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s;
}

.not-found-link:hover {
  color: #2c3e50;
}
